@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 992px) {
  /* About section */
  .about-container {
    flex-direction: column;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  /* Hero section */
  .scramble-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 481px) {
  /* Hero section */
  .scramble-text {
    font-size: 1.5rem;
  }

  .btn-outline-light {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
