/* Fonts */
@font-face {
  font-family: "Helvetica Thin";
  src: url("/assets/fonts/HelveticaNeue\ Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Global styling */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  font-family: "Helvetica Thin";
  color: #ffffff;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Container common styles */
.scramble-container,
.about-content,
.work-content {
  display: flex;
  min-height: 100vh;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

/* Hero section */
.scramble-container {
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.scramble-text {
  font-size: 3rem;
}

.dud {
  color: #ffffff;
}

/* About section */
.about-content {
  justify-content: center;
}

/* Work section */
.work-content {
  justify-content: center;
}
