/* Fonts */
@font-face {
  font-family: "Helvetica Thin";
  src: url("/assets/fonts/HelveticaNeue\ Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Global styling */
html,
body {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #000000;
  scroll-behavior: smooth;
  font-family: "Helvetica Thin";
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

/* Scroll to top btn */
#button {
  display: inline-block;
  background-color: #00c897;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "^";
  font-weight: bold;
  font-style: normal;
  font-size: 2.5em;
  line-height: 60px;
  color: #ffffff;
}
#button:hover {
  cursor: pointer;
  background-color: #019267;
}
#button:active {
  background-color: #019267;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Container common styles */
.scramble-container,
.about-content,
.work-content {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}

/* Hero section */
.scramble-text {
  font-size: 3rem;
}

.dud {
  color: #ffffff;
}

.hero-button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  margin-top: 4rem;
}

.btn {
  font-size: 1.5rem;
  border: transparent;
  background-image: linear-gradient(to right, #00c897, #00c897 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.btn:before {
  content: "";
  background: #00c897;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-position: 0;
}

.btn:hover::before {
  width: 100%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/* About section */
.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 4rem;
  justify-content: center;
}

.about-container > * {
  flex: 1 1 450px;
}

.about-description {
  margin-top: 2rem;
  font-size: 18px;
  text-align: justify;
  text-wrap: wrap;
}

.about-img-container {
  align-self: center;
}

.about-img {
  max-height: 400px;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.tech {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* Work section */
